@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&display=swap');

* {
    overflow-x: hidden;
}

.footer-cont{
    width: 100%;
    height: 290px;
    background: #252525;
    border: 1px solid #979797;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding-top: 35px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 30px;
}

.page-info{
    justify-self:center;
    color: #d8d8d8;
    height: 100%;
    margin-left: 100px;
}

.contact-info {
    justify-self: center;
    color: #d8d8d8;
    height: 100%;
    margin-right: 100px;
}

.newsletter {
    margin-right: 200px;
    color: #d8d8d8;
    height: 100%;
}

.footer-cont h3{
    opacity: 0.5;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-cont a{
    color: #fff;
    letter-spacing: 1px;
}

.contact-info .social-icons img{ 
    margin-right: 13px;
    margin-top: 8px;
  }

.newsletter input {
    background: #3B3B3B;
    font-size: 16px;
    letter-spacing: 0.56px;
    width: 220px;
    height: 45px;
    margin-right: 18px;
    border: none;
    text-indent: 10px;
    color: #fff;
  }

.newsletter input[type=text]:focus {
      outline: none;
  }

.footer-cont ::placeholder {
      color: #d8d8d8;
      font-size: 14px;
  }

.newsletter button{
    background-color: transparent;
    border: 3px solid #8367D8;
    font-weight: bold;
    font-size: 18px;
    color: #D8D8D8;
    letter-spacing: 0.63px;
    text-transform: uppercase;
    width: 105px;
    height: 40px;
} 

.newsletter button:hover {
    color: #fff;
    cursor: pointer;
}

.emailField{
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.page-info a:hover {
    opacity: 0.85;
}

@media(max-width: 767px) {
    .footer-cont {
        grid-template-columns: 1fr;
        padding-top: 30px;
        height: 600px;
        text-align: center;
    }

    .page-info{
        justify-self:center;
        margin-left: 0px;
        border-bottom: 1px dotted gray;
    }
    
    .contact-info {
        justify-self: center;
        margin-right: 0px;
        border-bottom: 1px dotted gray;
    }
    
    .newsletter {
        margin-right: 0px;
    }
}

@media(min-width: 768px) and (max-width: 1024px) {
    .footer-cont {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 30px;
        height: 400px;
        text-align: center;
    }

    .newsletter {
        justify-self:end;
        margin-right: -170px;
    }
}
