.breadcrumb {
    display: flex;
    align-items: center;
    color: #9B9B9B;
    width: 100%;
    height: 60px;
    background: #FCFCFC;
    text-align: right;
    justify-content: right;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.69px;
}

.breadcrumb li {
    list-style-type: none;
    float: left;
    text-align: center;
    padding-right: 10px;
}

.breadcrumb a {
    text-decoration: none;
    color: #9B9B9B;
}

.breadcrumb-right {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.63px;
    color: #9B9B9B;
    margin-right: 0;
    text-transform: capitalize;
}

.purple-text-br {
    font-size: 17px;
    color: #8367D8;
    font-family: "Lato", sans-serif;
    font-style: normal;
    float: right;
    padding-right: 230px;
}

.breadcrumb-title {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #000;
    letter-spacing: 0.84px;
    position: absolute;
    left: 11.1%;
    margin-right: 0;
    margin-left: 18px;
}
