* {
    font-family: 'Lato', sans-serif;
}

.privacy-cont {
    width: 45%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 110px;
}

h1 {
    font-size: 32px;
    color: #000;
    letter-spacing: 1px;
}

.privacy-text {
    margin-bottom: 22px;
    margin-top: 15px;
    color: #9B9B9B;
    font-size: 18px;
    letter-spacing: 0.75px;
    line-height: 25px;
}

@media (max-width: 991px) {
    .privacy-cont {
        width: 80%;
    }
}
